---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: '1'
  name: ingress-nginx
  namespace: argocd
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - name: '*'
    namespace: ingress-nginx
    server: '*'
  sourceRepos:
  - https://kubernetes.github.io/ingress-nginx
